.iconStrip {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 600px) {
    gap: 1rem 2rem;
  }
}

.iconStripItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  min-width: 85px;
  font-size: 0.875rem;

  svg {
    width: 2.5em;
    height: 2.5em;
  }
}
