.button {
  display: flex;
  padding: 1rem;
  background: none;
  border: none;
  color: var(--color-accent-1);
  cursor: pointer;
  transition: color 0.2s;

  &:hover,
  &:focus-visible {
    color: var(--color-accent-2);
  }
}
