.StretchyText {
  font-family: var(--font-body);
  font-style: italic;
  color: var(--accent-gradient-to);
  transition: color 0.2s;
}

.StretchyText-char {
  --multiplier: 0;
  position: relative;
  z-index: calc(1 + var(--multiplier) * 2);
  font-weight: calc(200 + var(--multiplier) * 700);
  font-stretch: calc(100% + var(--multiplier) * 25%);
  transition:
    font-stretch 0.2s,
    font-weight 0.2s;

  &:hover {
    --multiplier: 1;
  }

  &:hover + &,
  &:has(+ &:hover) {
    --multiplier: 0.7;
  }

  &:hover + & + &,
  &:has(+ & + &:hover) {
    --multiplier: 0.4;
  }

  &:hover + & + & + &,
  &:has(+ & + & + &:hover) {
    --multiplier: 0.2;
  }
}
