.logo {
  .inner {
    fill: var(--color-bg);
    opacity: 0;
    transition: opacity var(--duration);
  }

  .text {
    fill: var(--color-bg);
  }

  &.hover {
    .inner {
      opacity: 1;
    }

    .text {
      fill: url(#accentGradient);
    }
  }
}
