.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0.25rem;
  position: fixed;
  top: 0;
  left: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 1px;
    background: var(--navbar-separator-gradient);
    transition: background 0.2s;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  padding: 1rem;
  border: none;
  color: var(--color-accent-1);
  transition: color 0.2s;

  &.logo {
    padding: 0.75rem;
  }

  &:hover,
  &:focus-visible {
    color: var(--color-accent-2);
    border: none;
  }
}

.button {
  display: flex;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-accent-1);
  transition: color 0.2s;

  &:hover,
  &:focus-visible {
    color: var(--color-accent-2);
  }
}
