.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  border: none;
  color: var(--accent-gradient-from);

  &:hover,
  &:focus-visible {
    color: var(--accent-gradient-to);
    border: none;
  }
}
