.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0.25rem;
  position: fixed;
  top: 0;
  left: 0;

  --navbar-separator-gradient: linear-gradient(
    180deg,
    transparent 0%,
    transparent 10%,
    var(--color-accent-1) 40%,
    var(--color-accent-2) 50%,
    var(--color-accent-1) 60%,
    transparent 90%,
    transparent 100%
  );

  &.dark {
    --navbar-separator-gradient: linear-gradient(
      180deg,
      transparent 0%,
      transparent 10%,
      var(--color-accent-2) 40%,
      var(--color-accent-1) 50%,
      var(--color-accent-2) 60%,
      transparent 90%,
      transparent 100%
    );
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 1px;
    background: var(--navbar-separator-gradient);
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  padding: 1rem;
  border: none;
  color: var(--color-accent-1);

  &.logo {
    padding: 0.75rem;
  }

  &:hover,
  &:focus-visible {
    color: var(--color-accent-2);
    border: none;
  }
}

.button {
  display: flex;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-accent-1);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-2);
  }
}
