.indicator {
  --gradient-direction: 90deg;

  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 4px;
  background: linear-gradient(
    var(--gradient-direction),
    var(--color-accent-2),
    var(--color-accent-1)
  );
  pointer-events: none;
  will-change: transform, opacity;

  @media (min-width: 600px) {
    --gradient-direction: 180deg;
  }

  &.active {
    opacity: 1;
  }
}
