.section {
  justify-content: center;
}

.container {
  flex-direction: column;
  gap: 8rem;

  @media (min-width: 1000px) {
    flex-direction: row;
    gap: 4rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 2em;
  font-weight: 500;
  flex-grow: 1;
}

.hey {
  margin: 0;
  font-weight: 600;
  font-size: 2em;

  @media (min-width: 600px) {
    font-size: 2.25em;
  }
}

.name {
  font-family: var(--font-techy);
  background: linear-gradient(
    90deg,
    var(--color-accent-1),
    var(--color-accent-2)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-family: var(--font-techy);
  font-weight: 400;
  max-width: 500px;
}
